{% extends 'base.html' %}

{% block content %}
   <h1>{% block title %} About! {% endblock %}</h1>
   <h5>Flask-based Yblogspot app encompasses a range of features to facilitate content creation, management, and consumption. Through its user-friendly interface and thoughtful design, the app aims to provide an engaging platform for users to share their ideas with a broader audience.</h5>
<h5>In summary, our Flask-based Yblogspot app is a well-rounded application that combines backend functionality with frontend aesthetics, providing users with a feature-rich and visually appealing platform for creating, editing, and exploring blog content.</h5>
{%endblock%}
